{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div style="padding-left:5%;  padding-top: 40px;">
    <h2>Team members : </h2>
    <ul>
        <li>CHEREL Bastien</li>
        <li>CHOUAKI Amine</li>
        <li>THEAGENE Yann</li>
    </ul>
    <h2>Useful links : </h2>
    <ul>
        <li><a href="https://www.canva.com/design/DAFzqcq_IMc/NumiOwJe5BZLTgZl9divsw/edit?utm_content=DAFzqcq_IMc&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Presentation</a>
        <li><a href="https://www.sciencedirect.com/science/article/pii/S2352340919306985?via%3Dihub">Paper</a>
        <li><a href="https://github.com/BastienCH08/ESILV-Python-for-data-analysis">GitHub</a>
    </ul>
</div>


{% endblock %}